/* Fallback styles for X (Twitter) icon */
.x-icon-fallback::before {
    content: "✕";
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
}

/* When the original icon doesn't load properly */
.fab.fa-x:empty {
    position: relative;
}

.fab.fa-x:empty::before {
    content: "✕";
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
}

/* Alternative using SVG */
.x-icon-svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
